body{
  background: transparent;
}

body > div.container.body-content{
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}
.navbar-default
.navbar-brand
{
    color: #fff;
}

.navbar-custom{
  background: transparent;
  border-bottom: transparent;
  color: #fff;
}
