body{
  background: transparent;
  color: #fff;
}

body > div.container.body-content{
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}
.navbar-default
.navbar-brand
{
    color: #fff;
}

.navbar-collapse-1 > ul > li > a{color:#fff}

.navbar-custom{
  background: transparent;
  border-bottom: transparent;
  color: #fff;
}

.intro-header{
  background-color:gray;
  background:no-repeat center center;
  background-attachment:scroll;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  padding-bottom:50px
  width: 100%;
  height: 300px;
}
